= form_for (@session || :session), url: login_path, html: { id: 'login_form' } do |f|

  .m-t
    %i.glyphicons.glyphicons-envelope.form-control-icon
    = f.email_field :email, class: 'form-control', placeholder: 'Email'
  .m-t-sm.m-b
    %i.glyphicons.glyphicons-lock.form-control-icon
    = f.password_field :password, class: 'form-control', placeholder: 'Password'

  = hidden_field_tag :redirect_after_login
  = f.submit "Log in", class: 'btn btn-primary btn-block'
