.form-group-lg
  .subtitle
    Attendance
  .help
    - if @event.event_users.count == 0
      = link_to "Share this page", "#event-share-modal", data: { toggle: 'modal' }
      to invite friends to attend.
    - elsif @event.event_users.count == 1
      One invitee has RSVP'd to this event.
    - else
      #{@event.event_users.count} invitees have RSVP'd to this event.

    %ul.event-attendees
      - @event.event_users.each do |event_user|
        = link_to user_path(event_user.user), class: 'event-attendee clearfix' do
          = image_tag event_user.user.avatar_file_name, class: 'avatar m-r-sm pull-left'
          .pull-left= event_user.user.name
          .pull-right.event-attendee-date.size-xs
            - if event_user.times.count == 0
              Unavailable
            - else
              = pluralize(event_user.times.count, @event.specificity_name)
