.row.row-lg
  .col-sm-6.size-xs.sm-up-size-sm.text-center.sm-up-text-left.p-t-xs.gray
    .m-b-sm
      Created by
      = link_to @event.creator.name, @event.creator

  .col-sm-6.text-center.sm-up-text-right
    - if logged_in?
      = link_to "RSVP", '#event-rsvp-modal', class: "btn btn-sm #{@event.event_users.where(user_id: current_user.id).exists? ? 'btn-secondary': 'btn-primary btn-glow'}", data: { toggle: 'modal' }
    - else
      = link_to "RSVP", auth_at_provider_path(provider: :facebook, redirect_after_login: event_path(@event, rsvp: true)), class: "btn btn-sm btn-primary btn-glow"

    = link_to "Share", "#event-share-modal", class: 'btn btn-sm btn-secondary', data: { toggle: 'modal' }

    - if mine?(@event)
      .btn-group
        = link_to "Edit", edit_event_path(@event), class: 'btn btn-sm btn-secondary dropdown-toggle', data: { toggle: 'dropdown' }
        .dropdown-menu.dropdown-menu-right

          = link_to edit_event_path(@event), class: 'dropdown-item' do
            %i.glyphicons.glyphicons-pencil.m-r-sm
            Edit details

          = link_to '#event-finalise-modal', class: 'dropdown-item', data: { toggle: 'modal' } do
            %i.glyphicons.glyphicons-star.m-r-sm
            Finalise event date

          .dropdown-divider

          = link_to '#event-close-modal', class: 'dropdown-item', data: { toggle: 'modal' } do
            %i.glyphicons.glyphicons-lock.m-r-sm
            Close event

- if mine?(@event)
  = render "modal_close"
  = render "modal_finalise"
