- content_for :title, "New event"

.container.m-y-sm.m-b-xxl

  = form_for @event do |f|
    = render "modal_covers", form: f

    .form-group-lg
      .card-img-top.text-right{style: "background-image:url('#{@event.cover_url}')"}
        %a.btn.btn-secondary.btn-sm.m-a-sm{data: { toggle: 'modal', target: '#event-covers-modal'}}
          %i.glyphicons.glyphicons-picture
          Change picture
      = render "application/alerts", model: @event
      = f.text_field :name, class: 'form-control form-control-group form-control-clear form-control-lg', placeholder: 'Enter a name for your event'
      = f.text_area :description, class: 'form-control form-control-group form-control-clear form-control-sm', placeholder: 'And optionally a small description or instructions for your guests...', rows: 1

    .form-group-lg.m-t-md
      .subtitle
        How specific is the time-frame for this event?

      .m-t-sm
        %label.c-input.c-radio
          = f.radio_button :specificity, :day
          %span.c-indicator
          I need to know what <strong>day</strong> invitees are available.

      .m-t-sm
        %label.c-input.c-radio
          = f.radio_button :specificity, :week
          %span.c-indicator
          I need to know what <strong>week</strong> invitees are available.

      -#.m-t-sm
        %label.c-input.c-radio
          = f.radio_button :specificity, :month
          %span.c-indicator
          I need to know what <strong>month</strong> invitees are available.

    .subtitle
      Between which dates will it approximately take place?

    .help
      You can drag an area, or just click the start and end dates.

    #event_date_range.picker{ data: { name: 'event[date_range]',
                     double: true,
                     blocks: 2,
                     min_date: Date.today.strftime('%F'),
                     dates: { @event.starts_at.try(:strftime, '%F') => {}, @event.ends_at.try(:strftime, '%F') => {} }.reject{|k,v| !k}.to_json,
                     specificity: @event.specificity,
                     range: true }}

    .text-center.m-t
      = f.submit "Create my event", class: 'btn btn-primary btn-lg'
