- content_for :title, @event.name

.container.m-y-sm.m-b-xxl
  .card-img-top{style: "background-image:url('#{@event.cover.url}')"}
    %h1.xs-down-size-md= @event.name
  .card-circle.card-circle-transparent
    = render "icon"

  .xs-down-p-t-lg.m-t
    .event-top-area.xs-down-p-t-sm
      = render "event_top_area"

    - if @event.finalised?
      .text-center.p-t
        This event's #{@event.specificity_name} has been finalised!
        .title
          = specificity_long_format @event.specificity, @event.agreed_time

    - if @event.closed?
      .text-center.p-t
        The event is now closed. No further RSVPs will be accepted.

    .row.row-lg.p-y-md.row-md-center-line
      .col-md-6
        = render "dates"

      .col-md-6
        = render "description"
        = render "attendance"

    -#= render "comment_form"

  = render "modal_share"
  = render "modal_rsvp" if logged_in? && @event.open?
