.grey-page.p-y-md
  .container
    .card
      .card-img-top{style: "background-image:url('http://www.adu.ac.ae/portals/0/AduImage/calendar-banner.jpg')"}
        %h1.xs-down-size-md= @event.name
      .card-circle
        = image_tag "sprites-retina/logo.png"
        .logo-text= @event.status_name

      .card-block.xs-down-p-t-lg
        .event-top-area.xs-down-p-t-sm
          = render "event_top_area"

        .row.row-lg.p-y-md.row-md-center-line
          .col-md-6
            = render "description"
            = render "attendance"

          .col-md-6
            = render "dates"

        = render "comment_form"

    = render "modal_share"
    = render "modal_rsvp" if logged_in?
