.card.m-y-md
  .card-img-top{style: "background-image:url('http://www.adu.ac.ae/portals/0/AduImage/calendar-banner.jpg')"}
    %h1= @event.name
  .card-circle
    = image_tag "sprites-retina/logo.png"
    .logo-text= @event.status_name

  .card-block
    .event-top-area
      = render "event_top_area"

    .row.row-lg.row-center-line
      .col-sm-6.p-y-md
        = render "description"
        = render "attendance"

      .col-sm-6.p-y-md
        = render "dates"

    = render "comment_form"

= render "modal_share"
= render "modal_rsvp"
