- if flash[:alert].present?
  .alert.alert-danger
    .glyphicons.glyphicons-remove-2.pull-left
    = flash[:alert]
- elsif defined?(model) && model.try(:errors).present?
  %ul.alert.alert-danger
    - model.errors.each do |attribute, message|
      %li
        .glyphicons.glyphicons-remove-2.pull-left
        - if message =~ /^[A-Z]/
          = message
        - else
          = model.errors.full_message(attribute, message)

- if flash[:success].present?
  .alert.alert-success
    .glyphicons.glyphicons-ok-2.pull-left
    = flash[:success]

- if flash[:notice].present?
  .alert.alert-success
    .glyphicons.glyphicons-ok-2.pull-left
    = flash[:notice]

- if flash[:info].present?
  .alert.alert-info
    .glyphicons.glyphicons-circle-info.pull-left
    = flash[:info]

- if flash[:warning].present?
  .alert.alert-warning
    .glyphicons.glyphicons-warning-sign.pull-left
    = flash[:warning]
