#hamburger-menu
  .nav
    .container
      .nav-item
        = link_to "Home", root_path, class: 'nav-link'
      - if logged_in?
        .nav-item
          = link_to "Edit profile", me_path, class: 'nav-link'
        .nav-item
          = link_to "Log out", logout_path, class: 'nav-link'
      - else
        .nav-item
          = link_to "Log in", login_path, class: 'nav-link'
        .nav-item
          = link_to "Sign up", signup_path, class: 'nav-link'
      .nav-divider
      .nav-item
        = link_to "Contact Fuzzy", contact_path, class: 'nav-link'
