.modal.fade#login-modal
  .modal-dialog.modal-dialog-sm
    .modal-content
      .wizard#wizard-login
        .wizard-step.active.modal-body
          %button.close{type: "button", data: { dismiss: "modal" }}
            %span &times;
          .subtitle
            Connect
          .help
            Get straight in without signing up, it's easy!

          - %w(facebook twitter google).each do |provider|
            = link_to auth_at_provider_path(provider), class: "btn btn-#{provider} btn-block m-b-sm", data: { no_turbolink: true } do
              Log in with #{provider.titleize}

          %hr.card-fill-x

          .help.m-b
            Or log in with your email and password.

          = render "sessions/form_simple"

          %hr.card-fill-x

          = link_to "Sign up for a new account", '#', class: 'btn btn-link btn-block', data: { toggle: 'wizard', move: '1', target: '#wizard-login' }

        .wizard-step.modal-body
          %button.close{type: "button", data: { toggle: "wizard", move: '0', target: '#wizard-login' }}
            %span &times;
          .subtitle
            Sign up
          .help
            We only need to know three things about you to get your account set up.

          = render "users/form"
