%nav.navbar.navbar-light
  .container
    = link_to "/", class: "navbar-brand" do
      = image_tag "sprites-retina/logo-header.png", size: '38x38'
      %span.hidden-xs-down Fuzzy Calendar

    %ul.nav.navbar-nav.pull-right
      - if logged_in?
        %li.nav-item.dropdown
          = link_to user_path(current_user), class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
            = image_tag current_user.avatar_file_name, class: 'avatar'
          .dropdown-menu.dropdown-menu-right
            = link_to "Log out", logout_path, class: 'dropdown-item'
      - else
        %li.nav-item
          = link_to 'Login with Facebook', auth_at_provider_path(provider: :facebook), class: 'nav-link'
