%nav.navbar.navbar-light
  .container
    - if logged_in?
      = link_to "/", class: "navbar-brand" do
        = image_tag "sprites-retina/logo-header.png", size: '46x46'
        %span.hidden-xs-down Fu<span class="text-highlight">zz</span>y Calendar

      .nav.navbar-nav.pull-right
        .nav-item.dropdown
          = link_to user_path(current_user), class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
            .avatar{style: "background-image:url('#{current_user.avatar_file_name}')"}
          .dropdown-menu.dropdown-menu-right
            = link_to logout_path, class: 'dropdown-item' do
              %i.glyphicons.glyphicons-log-out.m-r-sm
              Log out
    - else
      = link_to "/", class: "navbar-brand" do
        = image_tag "sprites-retina/logo-header.png", size: '46x46'
        %span
          Fu<span class="text-highlight">zz</span>y Calendar

      .text-right
        = link_to 'Login', '', class: 'btn btn-primary-outline', data: { toggle: 'modal', target: '#login-modal'}
