%nav#navbar.navbar.navbar-light.navbar-fixed-top
  .container
    - if logged_in?
      %a.pull-left.navbar-toggler{ type: "button", data: { toggle: "hamburger-menu" }}
        .bar
        .bar
        .bar

      = link_to "/", class: "navbar-brand" do
        %span.hidden-xs-down Fu<span class="text-highlight">zz</span>y Calendar

      .nav.navbar-nav.pull-right
        .nav-item.dropdown
          = link_to user_path(current_user), class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
            - if notifications?
              .label.label-danger.label-status
                = notifications.count
            .avatar.m-r-xs{style: "background-image:url('#{current_user.avatar_url}')"}
            .hidden-xs-down= current_user.name

          .dropdown-menu.dropdown-menu-right
            - if notifications?
              .dropdown-header
                %i.glyphicons.glyphicons-warning-sign.m-r-sm
                = pluralize(notifications.count, 'alert')

              - notifications.each do |alert|
                = link_to alert.url, class: 'dropdown-item' do
                  %i{class: "glyphicons glyphicons-#{alert.icon} m-r-sm"}
                  = alert.message

              .dropdown-divider

            = link_to me_path, class: 'dropdown-item' do
              %i.glyphicons.glyphicons-user.m-r-sm
              Edit profile

            = link_to logout_path, class: 'dropdown-item' do
              %i.glyphicons.glyphicons-log-out.m-r-sm
              Log out

    - else
      = link_to "/", class: "navbar-brand" do
        = image_tag "sprites-retina/logo-header.png", size: '46x46'
        %span
          Fu<span class="text-highlight">zz</span>y Calendar

      .text-right
        = link_to 'Login', '', class: 'btn btn-primary-outline', data: { toggle: 'modal', target: '#login-modal'}
