!!!
%html{prefix: "og: http://ogp.me/ns#"}
  %head
    %title
      = content_for?(:title) ? yield(:title) : "Fuzzy Calendar"

    = tag :meta, property: "og:title", content: (content_for?(:title) ? yield(:title) : "Fuzzy Calendar")
    = tag :meta, property: "og:image", content: image_url("logos/logo-3d-512.png")
    = tag :meta, property: "og:url",   content: request.url
    = tag :meta, property: "og:type",  content: "website"
    = tag(:meta, property: "og:description", content: yield(:description)) if content_for?(:description)
    = tag :meta, "http-equiv" => "X-UA-Compatible", content: "IE=edge"
    = tag :meta, name: "viewport", content: "width=device-width, initial-scale=1"

    = stylesheet_link_tag    'bootstrap',   media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ rel: "icon", type: "image/x-icon", href: "/favicon.png" }

  %body
    #fb-root

    = render "navbar"
    = render "hamburger_menu"

    .main-content
      = yield

    - unless logged_in?
      = render "modal_login"
